body {
    background-color: white;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    margin: 8px;
    
}
Nav{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
    height: auto;
    margin-bottom: 8px;
}
Nav a{
    color: white;
    background-color: purple;
    font-size: 18px;
    float: left;
    padding: 10px 18px;
    display: block;
    text-align: center;
}
#nav1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.border{
    border: black 3px solid;
    border-radius: 5px;
}


/* Homepage styles: */

#H_grid {
    margin:auto;
    margin-top: 2em;
    display:grid;
    grid-template-rows: repeat(14,1fr);
    grid-template-columns: repeat(19,1fr);
    gap: 8px;
    width: 60em; 
}
#himage{
	width: 100%;
}

#H_imgDiv{
		grid-area: 1/10/10/20;
}
#H_text{
		grid-area: 1/1/10/10;
		Background-color: white;
		border: 1px solid silver;
		padding: 2em;
		font-size: large;
}
.h_photos{
	width: 28%;

}

/* Misc */

.bar{
		background-color: purple;
		height: 50px;
}
#quote{
	grid-area: 8/11/14/19;
	background-color: pink;
	padding: 1em;
	border: 1px solid silver;
	font-size: x-large;
	margin: 0;
}
#h_dish{
	grid-area: 7/1/15/12;
}

/* About Us styles */

#AU_grid{
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr 1fr;
    grid-template-columns: repeat(10, 1fr);
    display: grid;
    height: auto;
    gap: 10px;
}

.AU_border {
    border: black 5px solid;
    border-radius: 7px;

}

/* More Stuff */

header {
    text-align: center;
    font-size: 3em;
    height: 2.5em;

}
h1{
    text-align: center;    
}


footer{
    text-align: center;
}


#our_story{
    grid-column: 1/6;
    grid-row: 1/3;
}
#contact_info{
    grid-column: 6/11;
    grid-row: 1/3;
}
#meet_chef{
    grid-column: 1/11;
    grid-row: 3/5;
}
#location{
    grid-column: 1/6;
    grid-row: 5/7;
}
#dates{
    grid-column: 6/11;
    grid-row: 5/7;
}
.photo{
    margin: 5px;
    height: 100px;
    background-color: purple;
    border: black 5px solid;
    border-radius: 7px;
}


/* css for News and Events page*/

.News_Events_container {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;
 height: 100vh;  /* gives full viewport height*/
}

.News_Events_box{
 padding: 20px;
 border: black 8px solid;
 border-radius: 8px;
 gap: 10px;
 margin: 5px;
 overflow: auto; /* top handle any overflowing conetnt*/ 
}

/* End off css for News and Events page*/
