body {
    background-color: white;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    margin: 8px;
    
}
Nav{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
    height: auto;
    margin-bottom: 8px;
}
Nav a{
    color: white;
    background-color: purple;
    font-size: 18px;
    float: left;
    padding: 18px 16px;
    display: block;
    text-align: center;
}
#H_grid {
    display:grid;
    grid-template-rows: repeat(14,1fr);
    grid-template-columns: repeat(19,1fr);
    gap: 8px;

}
#H_imgDiv{
    grid-area: 1/5/10/10;
    text-align: center;
}
#H_image {

}
#H_text{
    grid-area: 10/1/19/19;
}
#AU_grid{
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    display: grid;
    height: 110vh;
    gap: 10px;
}
header {
    text-align: center;
    font-size: 3em;
    height: 2.5em;

}
.border{
    border: black 5px solid;
    border-radius: 7px;
}
#our_story{
    grid-column: 1/6;
    grid-row: 1/3;
}
#contact_info{
    grid-column: 6/11;
    grid-row: 1/3;
}
#meet_chef{
    grid-column: 1/11;
    grid-row: 3/5;
}
#location{
    grid-column: 1/6;
    grid-row: 5/7;
}
#dates{
    grid-column: 6/11;
    grid-row: 5/7;
}
#nav1{
    grid-column: 1/2;
    grid-row: 1/2;
}
h1{
    text-align: center;    
}
