header {
    text-align: center;
    font-size: 3em;
    height: 2.5em;

}
footer {
    padding-top: 2%;

}
#M_nav {
    display:grid;
	grid-template-rows:1fr;
	grid-template-columns: repeat(4, 1fr);
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

}
.navtext {
    text-align: center;
    margin: 1px;
    border-radius: 10px;
    border: 2px solid black;
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration-line: none;
    font-size: 20px;

}
#Entres {
    grid-row-start:1;
	grid-row-end:2;
	grid-column-start:1;
	grid-column-end:2;

}
#Sides {
    grid-row-start:1;
	grid-row-end:2;
	grid-column-start:2;
	grid-column-end:3;

}
#Drinks {
    grid-row-start:1;
	grid-row-end:2;
	grid-column-start:3;
	grid-column-end:4;

}
#Deserts {
    grid-row-start:1;
	grid-row-end:2;
	grid-column-start:4;
	grid-column-end:5;

}
.selected {
    background-color: white;
    color: black;

}
main {
    display:grid;
	grid-template-rows: 1fr 4fr 4fr 4fr;
	grid-template-columns: repeat(4, 1fr);

}
.menuItem {
    background-color: #e6ffe6;
    color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 8%;
    padding: 5%;

}
.left {
    border-left: 1px solid black;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    margin-left: 3%;

}
.right {
    border-right: 1px solid black;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
    margin-right: 3%;

}

img {
    max-width: 100%;
    border-radius: 50%;

}
#topDiv {
    grid-row-start:1;
	grid-row-end:2;
	grid-column-start:1;
	grid-column-end:5; 

    text-align: center;
    font-size: 1.5em;

}
#divL1 {
    grid-row-start:2;
	grid-row-end:3;
	grid-column-start:1;
	grid-column-end:2;

}
#divR1 {
    grid-row-start:2;
	grid-row-end:3;
	grid-column-start:2;
	grid-column-end:3;

}
#divL2 {
    grid-row-start:2;
	grid-row-end:3;
	grid-column-start:3;
	grid-column-end:4;

}
#divR2 {
    grid-row-start:2;
	grid-row-end:3;
	grid-column-start:4;
	grid-column-end:5;

}
#divL3 {
    grid-row-start:3;
	grid-row-end:4;
	grid-column-start:1;
	grid-column-end:2;

}
#divR3 {
    grid-row-start:3;
	grid-row-end:4;
	grid-column-start:2;
	grid-column-end:3;

}
#divL4 {
    grid-row-start:3;
	grid-row-end:4;
	grid-column-start:3;
	grid-column-end:4;

}
#divR4 {
    grid-row-start:3;
	grid-row-end:4;
	grid-column-start:4;
	grid-column-end:5;

}
#divL5 {
    grid-row-start:4;
	grid-row-end:5;
	grid-column-start:1;
	grid-column-end:2;

}
#divR5 {
    grid-row-start:4;
	grid-row-end:5;
	grid-column-start:2;
	grid-column-end:3;

}
#divL6 {
    grid-row-start:4;
	grid-row-end:5;
	grid-column-start:3;
	grid-column-end:4;

}
#divR6 {
    grid-row-start:4;
	grid-row-end:5;
	grid-column-start:4;
	grid-column-end:5;
}

